<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div th:replace="fragments :: head"></div>
    <body>
          <div th:include="fragments :: header"></div>
              <div th:fragment="content">
                  <my-app>Loading...</my-app>
                  <h1>Welcome!</h1>
                  <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
              </div>
          <div th:include="fragments :: footer"></div>
    </body>
</html>